html {
    margin: 0;
}

span{
    display: block;
}

.container{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
        
}

.buttons{
    width: 500px;
    height: 250px;
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}